<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <div class="ui segment">
      <h3 class="ui dividing header">留言</h3>
      <% if (user) { %>
        <form class="ui reply form" method="post" action="/comments">
          <input name="postId" value="<%= post._id %>" hidden>
          <div class="field">
            <textarea name="content"></textarea>
          </div>
          <input type="submit" class="ui icon button" value="留言" />
        </form>
        <% } %>
          <div class="ui minimal comments">
            <% comments.forEach(function (comment) { %>
              <div class="comment">
                <% 
                let avatar = 'default.jpg';
                if(comment.author){
                  avatar = comment.author.avatar;
                }
                %>
                <span class="avatar">
                    <img src="/images/<%= avatar %>">
                </span>
                <div class="content">
                    <% if(comment.author){%>
                      <a class="author" href="/posts?author=<%= comment.author._id %>">
                        <%= comment.author.name %>
                      </a>
                    <%}%>
                  <div class="metadata">
                    <span class="date">
                      <%= comment.createdAt %>
                    </span>
                  </div>
                  <div class="text">
                    <%- comment.content %>
                  </div>

                  <% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>
                    <div class="actions">
                      <a class="delete" href="/comments/<%= comment._id %>/remove">删除</a>
                    </div>
                    <% } %>
                      <% if (user && comment.author._id && user._id.toString() !== comment.author._id.toString()) { %>
                        <div class="actions">
                          <a class="reply_a" href="javascript:;" value="<%= comment._id %>">回复</a>
                        </div>
                        <% } %>
                </div>
              </div>
              <br />
              <!-- 二级评论 -->
              <%- include('comment-replys',{comment: comment}) %>
                <% }) %>
          </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(function () {
    //页面加载完毕后开始执行的事件
    $(".reply_a").click(function () {
      var commentId = $(this).attr("value");
      $(this).parent().parent().append("<form id='reply_form' class='ui reply form' method='post' action='/comments/addReply' style='margin-left: 0em;'><input name = 'commentId' value ='" + commentId + "' hidden /> <div class='reply_textarea'><textarea name='content' cols='70' rows='1'></textarea><input type='submit' class='ui icon button' value='回复' style='margin-top: .5em;'/></div></form>");
      $(this).remove();
    });
  });
</script>