<%
    let replys = comment.replys;
    <!-- console.log(replys); -->
    if(replys.length > 0){
%>
    <div class="comments">
        <%
            replys.forEach(function (reply){
                let avatar = 'default.jpg';
                if(reply.author){
                    avatar = reply.author.avatar;
                }  
        %>
            <div class="comment">
                <span class="avatar">
                    <img src="/images/<%= avatar %>">
                </span>
                <div class="content">
                    <a class="author" href="/posts?author=<%= reply.author._id %>">
                        <%= reply.author.name %>
                    </a>
                    <div class="metadata">
                        <span class="date">
                            <%= reply.time %>
                        </span>
                    </div>
                    <div class="text">
                        <%- reply.content %>
                    </div>
                    <% if (user && reply.author._id && user._id.toString() === reply.author._id.toString()) { %>
                        <div class="actions">
                            <a class="delete" href="/comments/<%= comment._id %>/removeReply/<%= reply.replyId %>">删除</a>
                        </div>
                        <% } %>
                </div>
            </div>
            <%})%>
    </div>
    <% }%>