<%- include('header') %>
  <div class="ui grid">

    <div class="one wide column">
      <a class="avatar avatar-link" href="/posts?author=<%= user._id %>" data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>"
        data-content="<%= user.bio %>">
        <img class="avatar" src="/images/<%= user.avatar %>">
      </a>
    </div>

    <div id="div_category" class="three wide column">
      <%- include('components/categories') %>
    </div>

    <div class="eight wide column">
      <form id="createPostform" class="ui form segment" method="post">
        <div class="field required">
          <label>标题</label>
          <input type="text" name="title">
        </div>
        <div class="field required">
          <label>内容</label>
          <textarea name="content" rows="15"></textarea>
        </div>
        <div class="field">
          <label>标签</label>

          <div class="ui category search">
            <div class="ui icon input">
              <input id="search-text" class="prompt" type="text" placeholder="Search tags...">
              <i class="search icon"></i>
            </div>
            <p></p>
            <input id="addTag" type="button" class="ui button" value="添加">
            <!-- <div id='search-result' class="results"></div> -->
            <a class="ui label">
              Node
              <i class="delete icon"></i>
            </a>
            <a class="ui label">
              Express
              <i class="delete icon"></i>
            </a>
            <p><span id='search-result'></span></p>
          </div>
          <p></p>
        </div>
        <input id="submit" type="submit" class="ui button" value="发布">
      </form>
    </div>
  </div>

  <script type="text/javascript" src="/js/create.js"></script>
  <%- include('footer') %>

    <script>
      $(document).ready(function () {
        $("#search-text").keyup(function () {
          var paremeter = $("#search-text").val();
          // console.log('paremeter =' + paremeter);
          $.get("http://" + window.location.host + "/tags", { 'tag': paremeter }, function (data) {
            console.log(data);
            for (var i = data.length - 1; i >= 0; i--) {
              $('#search-result').append(data[i].name + '<br/>')
            };
          })
        });
        $('#search-text').keydown(function () {
          $('#search-result').empty();
        })
        $('#search-text').blur(function () {
          $('#search-result').empty();
        })
      });
    </script>