<%- include('header') %>
  <div class="ui grid">
    <div class="three wide column">
      <!-- <form class="ui form segment" method="post" action='categories/addCategory'> -->
        <%- include('components/categories') %>
    </div>

    <div class="one wide column">
      <a class="avatar avatar-link" href="/posts?author=<%= user._id %>" data-title="<%= user.name %> | <%= ({m: '男', f: '女', x: '保密'})[user.gender] %>"
        data-content="<%= user.bio %>">
        <img class="avatar" src="/images/<%= user.avatar %>">
      </a>
    </div>

    <div class="eight wide column">
      <form class="ui form segment" method="post">
        <div class="field required">
          <label>标题</label>
          <input type="text" name="title">
        </div>
        <div class="field required">
          <label>内容</label>
          <textarea name="content" rows="15"></textarea>
        </div>
        <input type="submit" class="ui button" value="发布">
      </form>
    </div>
  </div>

  <%- include('footer') %>

  <script type="text/javascript">
    $(function () {
        //页面加载完毕后开始执行的事件
        $("#addCategory").click(function () {
            let category = $("#categoryName").val();
            // console.log('category :' + category);
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=utf-8",
                url: "http://localhost:3000/categories/addCategory",
                data: JSON.stringify({ 'category': category }),
                success: function (data) {
                    console.log(data);
                    $("#div_category").innerHTML = data;
                },
                error: function (msg) {
                    console.log(msg);
                }
            });
        });
    });
</script>