<%- include('header') %>

<% if(user){%>
<div class="ui grid">
  <div class="four wide column"></div>
  <div class="eight wide column">
    <form class="ui form segment" action="/users/update" method="post">
      <div class="field" hidden>
        <input type="text" name="userId" value="<%= user._id %>">
      </div>
      <div class="field">
          <a class="ui massive image label">
              <img src="/images/<%= user.avatar %>">
              <%= user.name %>
            </a>
        <!-- <label>用户名</label> -->
      </div>
      <div class="field">
        <label>性别</label>
        <!-- <%= ({m: '男', f: '女', x: '保密'})[user.gender] %> -->
        <select class="ui compact selection dropdown" name="gender">
          <option value="m">男</option>
          <option value="f">女</option>
          <option value="x">保密</option>
        </select>
      </div>
      <div class="field">
        <label>邮箱</label>
        <input placeholder="邮箱" type="text" name="email" value="<%= user.email %>">
      </div>
      <div class="field">
        <label>个人简介</label>
        <textarea name="bio" rows="5"><%= user.bio %></textarea>
      </div>
      <input type="submit" class="ui button fluid" value="修改">
    </form>
  </div>
</div>
<%}%>

<%- include('footer') %>